<?xml version="1.0" ?>
<config>
    <modules>
        <MyNamespace_Test>
            <version>0.0.1</version>
        </MyNamespace_Test>
    </modules>

    <global>
        <models>
            <catalog>
                <rewrite>
                    <product>MyNamespace_Test_Model_Product</product>
                </rewrite>
            </catalog>
            <catalog>
                <rewrite>
                    <config>MyNamespace_Test_Model_Catalog_Config</config>
                </rewrite>
            </catalog>
            <mynamespace_test>
                <class>MyNamespace_Test_Model</class>
            </mynamespace_test>
            <test>
                <class>MyNamespace_Test_Model</class>
                <resourceModel>test_resource</resourceModel>
            </test>
            <test_resource>
                <class>MyNamespace_Test_Model_Resource</class>
                <entities>
                    <test>
                        <table>test</table>
                    </test>
                </entities>
            </test_resource>
        </models>
        <blocks>
            <catalogsearch>
                <rewrite>
                    <result>MyNamespace_Test_Block_Result</result>
                </rewrite>
            </catalogsearch>
            <catalog>
                <rewrite>
                    <product_list_toolbar>MyNamespace_Test_Block_Product_List_Toolbar</product_list_toolbar>
                </rewrite>
            </catalog>
        </blocks>
        <events>
            <customer_login>
                <observers>
                    <mynamespace_test_model_observer>
                        <type>singleton</type>
                        <class>mynamespace_test/observer</class>
                        <method>customerLogin</method>
                    </mynamespace_test_model_observer>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <mynamespace_test_model_observer>
                        <type>singleton</type>
                        <class>mynamespace_test/observer</class>
                        <method>customerLogout</method>
                    </mynamespace_test_model_observer>
                </observers>
            </customer_logout>
        </events>
        <blocks />
        <extraconfig />
        <helpers>
            <test>
                <class>MyNamespace_Test_Helper</class>
            </test>
        </helpers>
        <resources>
            <mynamespacetest_setup>
                <setup>
                    <module>MyNamespace_Test</module>
                </setup>
            </mynamespacetest_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MyNamespace_Test before="Mage_Adminhtml">MyNamespace_Test_Adminhtml</MyNamespace_Test>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <layout>
            <updates>
                <mynamespace_test>
                    <file>mynamespace_test/local.xml</file>
                </mynamespace_test>
            </updates>
        </layout>
        <routers>
            <catalogsearch>
                <use>standard</use>
                <args>
                    <module>MyNamespace_Test</module>
                    <frontName>catalogsearch</frontName>
                </args>
            </catalogsearch>
            <mynamespace_test>
                <use>standard</use>
                <args>
                    <module>MyNamespace_Test</module>
                    <frontName>test</frontName>
                </args>
            </mynamespace_test>
        </routers>

    </frontend>
</config>
