<?xml version="1.0" ?>
<config>
    <modules>
        <MyNamespace_Test>
            <version>0.0.1</version>
        </MyNamespace_Test>
    </modules>
    <global>
        <resources>
            <mynamespacetest_setup>
                <setup>
                    <module>MyNamespace_Test</module>
                </setup>
            </mynamespacetest_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <mynamespace_test>
                    <file>mynamespace_test/local.xml</file>
                </mynamespace_test>
            </updates>
        </layout>
        <routers>
            <mynamespace_test>
                <use>standard</use>
                <args>
                    <module>MyNamespace_Test</module>
                    <frontName>test</frontName>
                </args>
            </mynamespace_test>
        </routers>
    </frontend>
</config>
