<?xml version="1.0"?>
<config>
    <modules>
        <OnePica_Blog>
            <version>3.0</version>
        </OnePica_Blog>
    </modules>
    <global>
        <models>
            <onepica_blog>
                <class>OnePica_Blog_Model</class>
                <resourceModel>onepica_blog_resource</resourceModel>
            </onepica_blog>
            <catalog_resource>
                <rewrite>
                    <product_collection>OnePica_Blog_Model_Resource_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource>
            <tag>
                <rewrite>
                    <tag>OnePica_Blog_Model_Tag</tag>
                </rewrite>
            </tag>
            <onepica_blog_resource>
                <class>OnePica_Blog_Model_Resource</class>
                <entities>
                    <post_entity>
                        <table>onepica_blog_post_entity</table>
                    </post_entity>
                    <relation>
                        <table>onepica_blog_post_tag_relation</table>
                    </relation>
                    <post_entity_datetime>
                        <table>onepica_blog_post_entity_datetime</table>
                    </post_entity_datetime>
                    <post_entity_decimal>
                        <table>onepica_blog_post_entity_decimal</table>
                    </post_entity_decimal>
                    <post_entity_int>
                        <table>onepica_blog_post_entity_int</table>
                    </post_entity_int>
                    <post_entity_text>
                        <table>onepica_blog_post_entity_text</table>
                    </post_entity_text>
                    <post_entity_varchar>
                        <table>onepica_blog_post_entity_varchar</table>
                    </post_entity_varchar>
                    <post_entity_char>
                        <table>onepica_blog_post_entity_char</table>
                    </post_entity_char>
                </entities>
            </onepica_blog_resource>
        </models>
        <blocks>
            <onepica_blog>
                <class>OnePica_Blog_Block</class>
            </onepica_blog>
            <catalogsearch>
                <rewrite>
                    <result>OnePica_Blog_Block_Result</result>
                </rewrite>
            </catalogsearch>
        </blocks>
        <helpers>
            <onepica_blog>
                <class>OnePica_Blog_Helper</class>
            </onepica_blog>
        </helpers>
        <resources>
            <onepica_blog_setup>
                <setup>
                    <module>OnePica_Blog</module>
                    <class>OnePica_Blog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onepica_blog_setup>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
        </resources>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <onepica_blog>
                        <class>OnePica_Blog_Model_Observer</class>
                        <method>addToTopmenu</method>
                    </onepica_blog>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <onepica_blog>
                    <file>onepica_blog/layout.xml</file>
                </onepica_blog>
            </updates>
        </layout>
        <routers>
            <onepica_blog>
                <use>standard</use>
                <args>
                    <module>OnePica_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </onepica_blog>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <onepica_blog before="Mage_Adminhtml">OnePica_Blog_Adminhtml</onepica_blog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <onepica_blog>
                    <file>onepica_blog/adminLayout.xml</file>
                </onepica_blog>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <blog_options>
            <messages>
                <posts_show_for_customer>1</posts_show_for_customer>
            </messages>
        </blog_options>
        <blog_options>
            <messages>
                <posts_per_page>10</posts_per_page>
            </messages>
        </blog_options>
        <blog_options>
            <messages>
                <latest_posts_block_show>1</latest_posts_block_show>
            </messages>
        </blog_options>
        <blog_options>
            <messages>
                <posts_count_in_block>3</posts_count_in_block>
            </messages>
        </blog_options>
    </default>
</config>
