<?xml version="1.0"?>
<config>
    <modules>
        <OnePica_News>
            <version>1.0</version>
        </OnePica_News>
    </modules>
    <global>
        <models>
            <onepica_news>
                <class>OnePica_News_Model</class>
                <resourceModel>onepica_news_resource</resourceModel>
            </onepica_news>
            <onepica_news_resource>
                <class>OnePica_News_Model_Resource</class>
                <entities>
                    <news>
                        <table>onepica_news</table>
                    </news>
                </entities>
            </onepica_news_resource>
        </models>
        <blocks>
            <onepica_news>
                <class>OnePica_News_Block</class>
            </onepica_news>
        </blocks>
        <helpers>
            <onepica_news>
                <class>OnePica_News_Helper</class>
            </onepica_news>
        </helpers>
        <resources>
            <onepica_news_setup>
                <setup>
                    <module>OnePica_News</module>
                </setup>
            </onepica_news_setup>
        </resources>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <onepica_news>
                        <class>OnePica_News_Model_Observer</class>
                        <method>addToTopmenu</method>
                    </onepica_news>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <onepica_news>
                    <file>onepica_news/layout.xml</file>
                </onepica_news>
            </updates>
        </layout>
        <routers>
            <onepica_news>
                <use>standard</use>
                <args>
                    <module>OnePica_News</module>
                    <frontName>onepica</frontName>
                </args>
            </onepica_news>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <onepica_news before="Mage_Adminhtml">OnePica_News_Adminhtml</onepica_news>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <onepica_news>
                    <file>onepica_news/adminLayout.xml</file>
                </onepica_news>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <news_options>
            <messages>
                <news_show_for_customer>1</news_show_for_customer>
            </messages>
        </news_options>
        <news_options>
            <messages>
                <news_per_page>10</news_per_page>
            </messages>
        </news_options>
        <news_options>
            <messages>
                <latest_news_block_show>1</latest_news_block_show>
            </messages>
        </news_options>
        <news_options>
            <messages>
                <news_count_in_block>3</news_count_in_block>
            </messages>
        </news_options>
    </default>
</config>
