<?xml version="1.0"?>
<config>
    <modules>
        <OnePica_Comments>
            <version>1.0</version>
        </OnePica_Comments>
    </modules>
    <global>
        <models>
            <comments>
                <class>OnePica_Comments_Model</class>
                <resourceModel>comments_resource</resourceModel>
            </comments>
            <comments_resource>
                <class>OnePica_Comments_Model_Resource</class>
                <entities>
                    <comments>
                        <table>comments</table>
                    </comments>
                </entities>
            </comments_resource>
        </models>
        <blocks>
            <comments>
                <class>OnePica_Comments_Block</class>
            </comments>
        </blocks>
        <helpers>
            <comments>
                <class>OnePica_Comments_Helper</class>
            </comments>
        </helpers>
        <resources>
            <comments_setup>
                <setup>
                    <module>OnePica_Comments</module>
                </setup>
            </comments_setup>
        </resources>
        <events>
            <!--<page_block_html_topmenu_gethtml_before>-->
                <!--<observers>-->
                    <!--<onepica_blog>-->
                        <!--<class>OnePica_Blog_Model_Observer</class>-->
                        <!--<method>addToTopmenu</method>-->
                    <!--</onepica_blog>-->
                <!--</observers>-->
            <!--</page_block_html_topmenu_gethtml_before>-->
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <comments>
                    <file>onepica_comments/layout.xml</file>
                </comments>
            </updates>
        </layout>
        <routers>
            <comments>
                <use>standard</use>
                <args>
                    <module>OnePica_Comments</module>
                    <frontName>comments</frontName>
                </args>
            </comments>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <comments before="Mage_Adminhtml">OnePica_Comments_Adminhtml</comments>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <comments>
                    <file>onepica_comments/adminlayout.xml</file>
                </comments>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <comments_options>
            <messages>
                <auto_approve>1</auto_approve>
                <enable_comments>1</enable_comments>
                <login_required>1</login_required>
                <comments_per_page>10</comments_per_page>
            </messages>
        </comments_options>
    </default>
</config>
